*{
   top: 0;
   left: 0;
   margin: 0;
   padding: 0; 
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    padding: 10px;

}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 20%;
    margin-top: 5%;
}

span{
 color: #ffff76;   
}

.input-box{
    display: flex;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    margin: 40px 0;
    /* justify-content:space-evenly; */
    align-items: center;

}

.input-box input{
    flex: 1;
    margin-right:20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    position: relative;
    font-size:x-large;
    cursor: pointer;
}
.input-box button{
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-size:large;
  
}

button:hover{
background: #ffff76;
}

/* .input-box input::-webkit-calendar-picker-indicator{
   top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
 width: auto;
 position:absolute;
 background-position: calc(100% -10px);   
 background-size: 30px;
 cursor: pointer; 
}  */